
**/.*
**/DS_Store
**/*.DS_Store
**/.vscode/

/project/agent
/project/client
/project/forward
/project/land
/project/network
/project/modem
/project/networ
/project/uart
/project/webs
/project/vpn
/project/nvpn
/project/gnss
/project/ipsec
/project/camera
/project/snmp
/tools/fpktools
/rice/
/var/
/shell/
/build/
/gBOARDID

/config/slave/dl/
/config/slave/repo.config

/smtk2/
/config/smtk2/
/mtk2/
/config/mtk2/dl/
/config/mtk2/repo.config

/smtk3/
/config/smtk3/
/mtk3/
/config/mtk3/dl/
/config/mtk3/repo.config

/swrt5/
/config/swrt5/
/wrt5/
/config/wrt5/dl/
/config/wrt5/repo.config

/srock/
/config/srock/
/rock/
/config/rock/dl/
/config/rock/repo.config

/project/storage/.gitignore
/project/tmptools/.gitignore
/project/tui/.gitignore
/project/wifi/.gitignore
/project/wui/.gitignore

