
**/.*
**/DS_Store
**/*.DS_Store
**/.vscode/

/doc/
/core/
/rice/
/var/
/shell/
/build/
/gBOARDID

/config/host/*.fpk
/config/host/tools/
/config/host/x86/store/
/config/host/aarch64/store/

/smtk3/
/config/smtk3/*.fpk
/config/smtk3/
/mtk3/


