
**/.*
**/DS_Store
**/*.DS_Store
**/.vscode/

/core/
/project/agent/
/project/client/
/project/forward/
/project/land/
/project/modem/
/project/network/
/project/uart/
/project/webs/
/tools/fpktools/
/project/wui/ace/arch
/rice/
/var/
/shell/
/build/
/gBOARDID

/config/slave/dl/
/config/slave/repo.config

/smtk2/
/config/smtk2/
/mtk2/
/config/mtk2/dl/
/config/mtk2/repo.config

/smtk3/
/config/smtk3/
/mtk3/
/config/mtk3/dl/
/config/mtk3/repo.config

/sopen/
/config/sopen/
/open/
/config/open/dl/
/config/open/repo.config

/srock/
/config/srock/
/rock/
/config/rock/dl/
/config/rock/repo.config


